
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Oswald:wght@500;600;700&display=swap');
body {
    background-color: #0a0a0a;
    color: white;
    overflow-x: hidden;
}
        
.neon-text {
text-shadow: 0 0 4px rgba(253, 255, 0, 0.7);
}
        
.neon-border {
box-shadow: 0 0 9px rgba(253, 255, 0, 0.5);
}
        
.hero-image {
background-image: linear-gradient(to right, rgba(10, 10, 10, 0.9), rgba(10, 10, 10, 0.7)), url('imagens/fundo\ 1.jpg');
background-size: cover;
background-position: center;
}
        
.consultation-card:hover {
transform: translateY(-5px);
box-shadow: 0 10px 20px rgba(253, 255, 0, 0.3);
}
        
.benefit-card {
transition: all 0.3s ease;
}
        
.benefit-card:hover {
transform: scale(1.05);
}


